.header img {
  float: left;
  width: 40px;
  height: 100px;
  /*margin-right: 10px;*/
  margin-top: 30px;
  margin-bottom: 5px;
}
.logO{
  padding-top: 50px;
}
.log1{
  padding-top: 20px;
}
.topNewsLogo{
  padding-top: 50px;
  padding-left: 10px; 
}
.header h5 {
  position: relative;
  top: 18px;
  left: 10px;
  top: 35px;
  left: 0px;
  bottom: 0px;
}
.information{
  border: black solid;
  height: 200px;
  color: white;
  background-color: black;
}
h4{
  padding-top: 40px;
}
img{
  width: 600px;
  margin: 0px;
  flex-wrap: wrap;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.picture:hover img {
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.otherNews:hover img {
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.news{
width: 505px;
margin: 0px;
background-color: black;
}
h3{
  margin-top: 300px;
  margin-left: 30px;
  color: white;
}
h6{
  color: white;
}
.otherNews {
    float: left;
    width: 23%;
    margin-top: 20px;
    margin-right: 22px;
    padding: 0px;
    heigh: 100px;
}
