<div class="row header">
  <img src=".././assets/img/fireLogo.png" style='height:40px; position:left;'>
  <h5>Top News</h5>
</div>
<div class="container">
<div class="row">
  <div class="column picture">
  <img src=".././assets/img/elClassico.jpg">
  </div>
  <div class="column news">
    <h3>The big question what is el classico without Messi and Ronaldo...</h3>
    <div class="topNewsLogo">
      <img src=".././assets/img/Logo.jpg" style='height: 20px;' style="width: 20px" align="left">
    <h6>OneFootball</h6>
    </div>
  </div>
</div>

<div class="row">
  <div class="column otherNews">
    <img src=".././assets/img/messi.jpeg" style="width:100%">
    <h4 class="information">Fifa deny LaLiga permission to stage games in North America<br>
      <div class="log1">
    <img src=".././assets/img/Logo.jpg" style='height: 20px;' style="width: 20px" align="left">
    <h6>OneFootball</h6></div>
  </h4>
  </div>
  <div class="column otherNews">
    <img src=".././assets/img/fifaStdium.jpg" style="width:100%">
    <h4 class="information">Friday Forecast: Gridiron in the capital and a chance for Everton<br>
      <div class="log1">
    <img src=".././assets/img/Logo.jpg" style='height: 20px;' style="width: 20px" align="left">
    <h6>OneFootball</h6></div>
  </h4>
  </div>
  <div class="column otherNews">
    <img src=".././assets/img/fifaBaldGuy.jpg" style="width:100%">
    <h4 class="information">Bizarre injury time rule changed to be discussed<br>
      <div class="logO">
    <img src=".././assets/img/wifiSign.png" style='height: 20px;' style="width: 20px" align="left">
    <h6>OneFootball</h6></div>
  </h4>
  </div>
  <div class="column otherNews">
    <img src=".././assets/img/suarez.jpeg" style="width:100%">
    <h4 class="information">Mourinho 'not confident, not worried' about DeGea ...<br>
      <div class="logO">
    <img src=".././assets/img/Logo.jpg" style='height: 20px;' style="width: 20px" align="left">
    <h6>OneFootball</h6></div>
  </h4>
  </div>
</div>
</div>
<table width="100%" style="margin-top: 20px;">
  <tr>
    <td><hr /></td>
    <td style="width:1px; padding: 0 10px; white-space: nowrap;"><a href="">More></a></td>
  </tr>
</table>​
