<div class="row header">
  <img src=".././assets/img/fireLogo.png" style='height:40px; position:left;'>
  <h5>Top News</h5>
</div>
<div class="container">
<div class="row">
  <div class="column picture">
  <img src=".././assets/img/elClassico.jpg">
  </div>
  <div class="column news">
    <h3>The big questiply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and s piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable sourcrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets on onaldo...</h3>
    <div class="topNewsLogo">
      <img src=".././assets/img/Logo.jpg" style='height: 20px;' style="width: 20px" align="left"><div class="item-overlay"></div>
    <h6>OneFootball</h6>
    </div>
  </div>
</div>

<div class="row">
  <div class="column otherNews">
    <img src=".././assets/img/messi.jpeg" style="width:100%">
    <h4 class="information">Fifa deny LaLiga permission to stage games in North America<br>
      <span><div class="log1">
    <img src=".././assets/img/Logo.jpg" style='height: 20px;' style="width: 20px" align="left">
    <h6>OneFootball</h6></div></span>
    </h4>
  </div>
  <div class="panel column otherNews">
    <img src=".././assets/img/fifaStdium.jpg" style="width:100%">
    <h4 class="information">Friday Forecast: Gridiron in the capital and a chance for Everton<br>
      <span><div class="log1">
    <img src=".././assets/img/Logo.jpg" style='height: 20px;' style="width: 20px" align="left">
    <h6>OneFootball</h6></div></span>
  </h4>
  </div>
  <div class="column otherNews">
    <img src=".././assets/img/fifaBaldGuy.jpg" style="width:100%">
    <h4 class="information">Bizarre injury time rule changed to be discussed<br>
    <span><div class="logO">
    <img src=".././assets/img/wifiSign.png" style='height: 20px;' style="width: 20px" align="left">
    <h6>OneFootball</h6>
  </div></span>
  </h4>
  </div>
  <div class="column otherNews">
    <img src=".././assets/img/suarez.jpeg" style="width:100%">
    <h4 class="information">Mourinho 'not confident, not worried' about DeGea ...<br>
      <span><div class="logO">
    <img src=".././assets/img/Logo.jpg" style='height: 20px;' style="width: 20px" align="left">
    <h6>OneFootball</h6></div></span>
  </h4>
  </div>
</div>
</div>
<table width="100%" style="margin-top: 20px;">
  <tr>
    <td><hr /></td>
    <td style="width:1px; padding: 0 10px; white-space: nowrap;"><a href="">More></a></td>
  </tr>
</table>​
