<nav class="navbar navbar-expand-md">
  <div class="col-md-6 logo">
    <img src=".././assets/img/newLogo.png" style='height:40px;'>
    <select name="languages">
    <option style="background-image:url(/Users/Guest/Desktop/Website-Angular/src/assets/img/logo.png);" value="English">English</option>
    <option value="Argentina">Argentina</option>
    <option value="Brasil">Brasil</option>
    <option value="Chile">Chile</option>
    </select>
  </div>

  <div class="col-md-6 searchForm">
  <form class="form-inline">
    <input class="form-control" type="text" style="width: 400px" placeholder="Search for teams and competition">
    <button class="btn" type="submit"><img src=".././assets/img/searchIcon.png" style='height:30px; position:left;'></button>
  </form>
  </div>
</nav>
