<nav class="navbar navbar-expand-md navbar-light">
    <img src=".././assets/img/newLogo.png" style='height:40px; position:relative;'>
  <select name="languages">
    <option value="English">English</option>
    <option value="Argentina">Argentina</option>
    <option value="Brasil">Brasil</option>
    <option value="Chile">Chile</option>
  </select>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <form class="form-inline input-group col-sm-4">
    <input class="form-control" type="text" placeholder="Search for teams and competition">
    <img src=".././assets/img/searchIcon.png" style='height:40px; position:left;'>
  </form>
</nav>
<div class='col-sm-3' style=' height: 320px'>
</div>
