.navbar{
  font-family: verdana;
  font-style: italic;
  font-weight: bold;
  height: 5%;
  margin-top: 10px;
  margin-left: 50px;
  margin-bottom: .5%;
}

.searchForm {
    float: left;
    border-left: 1px solid #ced4db;
    margin-left: 20px;
    width: 600px;
    margin-left: 100px;
}
nav {
    margin-left: auto;
    background-color: white;
    color: black;
}
.logo{
  float: left;
}

.dropdown-menu{
  float: left;
  color: black;
}
