.navbar{
  font-family: verdana;
  font-style: italic;
  font-weight: bold;
  height: 50px;
  margin-top: 10px;
  border-bottom: 3px solid black;

}

.searchForm {
    float: left;
    border-left: 1px solid #ced4db;
    margin-left: 20px;
    width: 600px;
    margin-left: 100px;
}
nav {
    margin-left: auto;
    background-color: white;
    color: black;
}
.logo{
  float: left;
}
/*button{
  height: 35px;
  border: solid;
}*/
