.navbar{
  font-family: verdana;
  font-style: italic;
  font-weight: bold;
  height: 5%;
  margin-top: 1%;
  margin-left: 50px;
  margin-bottom: .5%;
}

.searchForm {
    float: right;
    margin-left: 20px;
    width: 600px;
    margin-left: 100px;
}
nav {
  margin-top: 5%;
    margin-left: auto;
    background-color: white;
    color: black;
}
.logo{
  float: left;
}

.dropdown-menu{
  float: left;
  color: black;
}
#searchForm{
  /* background-image:url('.././assets/img/searchIcon.png') no-repeat; */
}
