<nav class="navbar navbar-expand-md">
  <div class="col-md-6 logo">
    <div class="logo">
    <img src=".././assets/img/newLogo.png" style='height:40px;'>
  </div>
    <div class="dropdown">
        <button class="btn btn-gray dropdown-toggle" type="text" data-toggle="dropdown">English
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li>Russian</li>
          <li>Brasil</li>
          <li>Chile</li>
        </ul>
      </div>
  </div>


  <div class="col-md-6 searchForm">
    <div class="row">
  <form class="form-inline">
    <input class="form-control" type="text" style="width: 400px" placeholder="Search for teams and competition">
    <button class="btn" type="submit"><img src=".././assets/img/searchIcon.png" style='height:30px;'></button>
  </form>
</div>
  </div>
</nav>
