.header img {
  width: 30px;
  height: 50px;
  margin-right: 5px;
  margin-top: 35px;
  margin-bottom: 10px;
}
.popularPages{
  margin-bottom: 50px;
}
.liver .championsLeague{
  text-align: center;
}
.header h5 {
  position: relative;
  top: 18px;
  left: 10px;
  top: 35px;
  left: 0px;
  bottom: 0px;
  font-style: sans serif
}
.logos, .logosBarsa{
    width: 140px;
    height: 90px;
    padding: 10%;
    font-style: normal;
    margin: 10px;
    background-color: white;
    border-radius: 5px;
}
.bundesliga{
    text-align: center;
}
img{
  margin: 5px;
  text-align: center;
}
.logosBarsa{

  background-color: #350CCD;
  border-radius: 5px;
}
a{
  border:none;
  outline:none;
  text-decoration:none;
  color:inherit;
}
