<div class="row header">
  <img src=".././assets/img/lightning.jpg" style='height:40px; position:left;'>
  <h5>Popular Pages</h5>
</div>

<div class="row popularPages">
  <div class="Pages">
  <div class="logos">
    <img src=".././assets/img/liverpool.jpeg" style="height:60px">
  </div>
  <h5 style="text-align: center;">Liverpool</h5>
  </div>
  <div class="Pages">
  <div class="logos">
    <img src=".././assets/img/CL.jpg" style="height:60px">
  </div>
  <h5 style="text-align: center;">Champions Lea..</h5>
  </div>
    <div class="Pages">
  <div class="logosBarsa">
    <img src=".././assets/img/barcelona.png" style="height:60px">
  </div>
  <h5 style="text-align: center;">Barcelona</h5>
  </div>
    <div class="Pages">
  <div class="logos">
    <img src=".././assets/img/LaLiga.jpg" style="height:60px">
  </div>
  <h5 style="text-align: center;">LaLiga</h5>
  </div>
    <div class="Pages">
  <div class="logos">
    <img src=".././assets/img/PL.png" style="height:60px">
  </div>
  <h5 style="text-align: center;">Premier Lea..</h5>
  </div>
  <div class="Pages">
  <div class="logos">
    <img src=".././assets/img/Real.png" style="height:60px">
  </div>
  <h5 style="text-align: center;">Real Madrid</h5>
  </div>
    <div class="Pages">
  <div class="logos">
    <img src=".././assets/img/bundesliga.jpg" style="height:60px">
  </div>
  <h5 style="text-align: center;">Bundesliga</h5>
  </div>
</div>
