<div class="row header">
  <img src=".././assets/img/lightning3.png" style='height:20px'>
  <h5>Popular Pages</h5>
</div>

<div class="row popularPages">
  <a routerLink="details">
    <div class="Pages">
      <div class="logos liver">
          <img src=".././assets/img/liverpool.jpeg" style="height: 80%">
      </div>
      <h6 style="text-align: center;">Liverpool</h6>
    </div>
  </a>

  <a href="">
    <div class="Pages">
    <div class="logos championsLeague">
      <img src=".././assets/img/CL.jpg" style="height:100%">
    </div>
    <h6 style="text-align: center;">Champions Lea..</h6>
    </div>
  </a>
  <a href="">
    <div class="Pages">
    <div class="logosBarsa">
      <img src=".././assets/img/barcelona.png" style="height:100%">
    </div>
    <h6 style="text-align: center;">Barcelona</h6>
    </div>
  </a>
  <a href="">
      <div class="Pages">
    <div class="logos">
      <img src=".././assets/img/LaLiga.png" style="height:100%">
    </div>
    <h6 style="text-align: center;">LaLiga</h6>
  </div></a>
  <a href="">
      <div class="Pages">
    <div class="logos">
      <img src=".././assets/img/PL.png" style="height:80%">
    </div>
    <h6 style="text-align: center;">Premier Lea..</h6>
    </div>
  </a>
      <a href="">
    <div class="Pages">
    <div class="logos realMadrid">
      <img src=".././assets/img/Real.jpeg" style="height:60%">
    </div>
    <h6 style="text-align: center;">Real Madrid</h6>
    </div></a>
      <a href="">
      <div class="Pages">
        <div class="logos bundersliga">
          <img src=".././assets/img/bundesliga.jpg" style="height:40%">
        </div>
      <h6 style="text-align: center;">Bundesliga</h6>
    </div>
    </a>
  </div>
