<div class="AdminNews">
  <h3>Add News</h3>
<div class="admin">
  <div>
    <label>News Title:</label>
    <br>
    <input #newTitle>
  </div>
  <div>
    <label>News Description:</label>
    <br>
    <textarea #newDescription></textarea>
  </div>
  <div>
    <label>News Image URL:</label>
    <br>
    <textarea #newURL></textarea>
  </div>
  <div>
    <label>News content:</label>
    <br>
    <textarea #newContent></textarea>
  </div>

  <button (click)="submitForm(newTitle.value, newDescription.value, newURL.value, newContent.value); newTitle.value=''; newDescription.value=''; newURL.value=''; newContent.value='';">Add</button>
</div>
</div>
<app-news-form></app-news-form>
