
<div>
  <div class="row header">
  <img src=".././assets/img/transparentLogo.png" style='height:30px; position:left;'>
  <h5>One Football Video</h5>
</div>

<div class="row scrollmenu">
  <div class="contentholder">
  <div class="column otherNews">
    <img src=".././assets/img/messi.jpeg" style="width:100%">
    <img class="playButton" src=".././assets/img/videoLogo.png" style="width: 50px;">
    <h6 class="information">Fifa deny LaLiga permission to stage games in North America</h6>
  </div>
  <div class="column otherNews">
    <img src=".././assets/img/fifaStdium.jpg" style="width:100%">
    <h6 class="information">Friday Forecast: Gridiron in the capital and a chance for Everton<br>
    </h6>

  </div>
  <div class="column otherNews">
    <img src=".././assets/img/fifaBaldGuy.jpg" style="width:100%">
    <h6 class="information">Bizarre injury time rule changed to be discussed asdasd a dasd a<br>
  </h6>
  </div>
  <div class="column otherNews">
    <img src=".././assets/img/suarez.jpeg" style="width:100%">
    <h6 class="information">Mourinho 'not confident, not worried' about asdas asdasd asda DeGea ...<br>
  </h6>
  </div>
  <div class="column otherNews">
    <img src=".././assets/img/suarez.jpeg" style="width:100%">
    <h6 class="information">Mourinho 'no asdasd a asda t confident, not worried' about DeGea ...<br>
  </h6>
  </div>
  <div class="column otherNews">
    <img src=".././assets/img/suarez.jpeg" style="width:100%">
    <h6 class="information">Mourinho asss ss'not confident, not worrieswwwasdasd asdasd as a d' about DeGea ...<br>
  </h6>
  </div>
</div>
</div>
</div>
