.header{
  margin-top: 10%;
}
.otherNews {
    width: 25%;
    height: 100%;
    margin-right: 22px;
    margin-top: 0px;
    padding: 0px;
    display: inline-block;
}
.playButton{
  position: absolute;
  transform: translate(-50%,0)
}
.information{
  width:100%;
  height: 100%;
  margin: 5px;
  text-align: center;
  color:black;
  white-space: normal;
  overflow: hidden;
}

.scrollmenu {
    /*overflow: auto;*/
    white-space: nowrap;
    height: auto;
    overflow-x: scroll;
    overflow-y: hidden;


}
.otherNews:hover {
    background-color: #777;
}
h4{
  padding-top: 20px;
  background-color: white;
  width: 50px;
  /*white-space: pre-line;*/
}
img{
  border-radius: 10px;
}
.videos{
  margin-top: 5%;
}
div{
  position: relative;
}
div span{
  position: absolute;
    bottom: 70%;
    left: 50%;
    right: 50%;
}
